@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../../fonts/Roboto-Bold.ttf');
  //src: local('☺'), url('../../fonts/JOURNAL.woff') format('woff'), url('../../fonts/JOURNAL.ttf') format('truetype'), url('../../fonts/JOURNAL.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../../fonts/Roboto-Regular.ttf');
  //src: local('☺'), url('../../fonts/JOURNAL.woff') format('woff'), url('../../fonts/JOURNAL.ttf') format('truetype'), url('../../fonts/JOURNAL.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('../../../fonts/RobotoSlab-Bold.ttf');
  //src: local('☺'), url('../../fonts/JOURNAL.woff') format('woff'), url('../../fonts/JOURNAL.ttf') format('truetype'), url('../../fonts/JOURNAL.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../../../fonts/RobotoSlab-Regular.ttf');
  //src: local('☺'), url('../../fonts/JOURNAL.woff') format('woff'), url('../../fonts/JOURNAL.ttf') format('truetype'), url('../../fonts/JOURNAL.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
