.login-form{
  padding-top: 15px;
  label{
    margin-bottom: 5px;
  }
  .form-group{
    margin-bottom: 20px;
  }
  .login-form-actions{
    button{
      margin-right: 10px;
    }
    a{
      margin-left: 10px;
      font-size: 14px;
    }
  }
}

.outside-logo{
  margin-top: 50px;
  margin-bottom: 25px;
  img{
    display: inline-block;
    &.logo{
      margin-right: 15px;
      height: 75px;
    }
    &.logo-text{
      height: 50px;
      margin-bottom: 15px;
    }
  }
}
