/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

body{
    background-color: #4ec9d4;
    color: #696969;
}

a{
    &:hover{
        text-decoration: none;
    }
}

.container{
    padding-top: 20px;
}

i.required{
    color: #FF0000;
    text-transform: none;
    font-style: normal;
}

.panel-heading{
    background: none #fafafa !important;
    font-size: 22px;
    text-transform: uppercase;
    color: #a2a0a0 !important;
    border-bottom: none;
    font-family: 'Roboto-Regular';
    height: 2.5em;
    line-height: 2.5em;
    padding-top: 0px;
    padding-bottom: 0px;
}


.panel-heading.green-heading, .panel-heading-mock{
    border: none;
    height: 40px;
    color: white !important;
    font-size: 20px;
    text-transform: none !important;
    line-height: 40px;
    background: url('/tesis/images/logo_small.png') no-repeat 10px center scroll #36cf82 !important;
    padding: 0px;
    padding-left: 35px;
}

.form-profile-picture{
    height: 150px;
    width: 150px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
    }
}

.btn{
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-image: none !important;
    font-weight: normal !important;
    text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    &.btn-default{
        background-color: #36cf82 !important;
        color: white;
        &:hover{
            background-color: darken(#36cf82, 10%) !important;
            color: #fff;
        }
    }
    &.btn-danger{
        background-color: #c0392b !important;
        color: white;
        &:hover{
            background-color: darken(#c0392b, 10%) !important;
            color: #fff;
        }
    }
}

label.error{
    color: red;
    font-size: 13px;
    margin-top: 10px;
}

$header-logo-height: 70px;

.main-header{
    img{
        float: left;
        height: $header-logo-height;
    }
    .site-name{
        font-family: 'Roboto-Regular';
        float: left;
        line-height: $header-logo-height;
        font-size: 40px;
        padding-left: 0.5em;
        color: #fff;
    }
}
.main-content, .sidebar{
    margin-top: 2em;
}

.panel{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid transparent;
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
}
.main-content .panel{
    overflow: hidden;
    border-style: none;
}
.panel-body.no-padding{
    padding: 0px;
}

.panel-body.with-padding{
    padding: 10px;
}

.text-center{
    text-align: center;
}

.sidebar{
    .profile-picture-placeholder{
        margin-bottom: 10px;
    }
    .gray-text{
        color: #666666;
        display: block;
        font-size: 18px;
    }
    .user-name{
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 0px;
    }
    .phone-number{
        margin-top: 10px;
        margin-bottom: 15px;
    }
    p{
        margin-bottom:  5px;
        font-size: 16px;
    }
    .logout-wrapper{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .specialty{
        color: #666666;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 0px;
    }
}

a.logout-btn{
    border: 1px solid #36cf82;
    background-color: #36cf82;
    padding: 7px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    &:hover{
        background-color: darken(#36cf82, 10%);
        text-decoration: none;
    }
}

.sec-navigation{
    list-style: none;
    li{
        width: 100%;
        margin-bottom: 10px;
        a{
            width: 100%;
            display: block;
            padding-left: 20px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            height: 2.6em;
            line-height: 2.6em;
            color: #000;
            font-size: 19px;
            text-decoration: none;
            font-family: 'Roboto-Regular';
            &.active, &:hover{
                background-color: #78f9f5;
            }
        }
    }
}

table.table{
    border-spacing: 0px;
    border-color: transparent;
    border-collapse: collapse;
    margin-bottom: 0px !important;
    tr{
        td, th{
            border-top: none !important;
            border-bottom: none !important;
            border-left: none !important;
            border-right: 1px solid #999999;
            &:last-child{
                border-right: none !important;
            }
        }
        th{
            color: #fff;
            font-size: 18px;
            vertical-align: middle;
            background-color: #36cf82;
            font-family: 'RobotoSlab-Regular';
        }
        td{
            padding: 8px;
            font-size: 18px;
            font-family: 'Roboto-Regular';
        }
            
    }
}
.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #f2f2f2 !important;
}
.custom-file-input{
    &:active, &:focus, &:hover{
        outline: none;
    }
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Cambiar Foto';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    height: 30px;
    width: 140px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    /*text-shadow: 1px 1px #fff;*/
    /*font-weight: 700;*/
    font-size: 17px;
    background: #36cf82;
    color: white;
    font-family: RobotoSlab-Regular;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.filter{
    cursor: pointer;
}

.header-panel{
    .panel-body{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.span-button{
    cursor: pointer;
    color: #000;
    &:hover, &:active, &:focus{
        color: #696969;
        text-decoration: none;
    }
}

.modal{
    .modal-dialog{
        .modal-content{
            .modal-header{
                font-size: 18px;
                padding: 10px 15px;
                -webkit-border-top-left-radius: 5px;
                -moz-border-top-left-radius: 5px;
                border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-top-right-radius: 5px;
                border-top-right-radius: 5px;
                color: #fff;
                background: url('/tesis/images/logo_small.png') no-repeat 10px center scroll #36cf82;
                padding-left: 35px;
            }
            .modal-footer{
                padding: 6px 10px;
            }
        }
    }
}

.profile-picture-wrapper{
    width: 150px;
    height: 150px;
    border: 9px solid #4ec9d4;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
    }
}


.profile-upload-btn{
    margin-top: 20px;
}

.list-action-button{
    color: #696969 !important;
    cursor: pointer !important;
    &:hover, &:active, &:focus{
        color: #000 !important;
    }
    i{
        font-size: 20px;
    }
    &.no-large-icon{
        i{
            font-size: 14px;
        }
    }
}

.device-reading-panel{
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .screen{
        &.first{
            margin-top: 15px;
            margin-bottom: 0px;
        }
        &:last-child{
            margin-top: 0px;
            font-size: 18px;
        }
    }
}

.green{
    color: #2ecc71;
}
.black{
    color: #000;
}


.ekg-controls{
    position: absolute;
    left: 20px;
    right: 20px;
    height: 35px;
    bottom: 10px;
    text-align: center;
    .ekg-arrow{
        position: relative;
        display: inline-block;
        color: #fff;
    }
    .arrow-left{
        margin-right: 10px;
    }
    .arrow-right{
        margin-left:10px;
    }
    .ekg-control{
        background-color: #36cf82;
        border: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 35px;
        height: 35px;
        display: inline-block;
    }
}

.device-status-info{
    h3{
        margin: 0px;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .status-message{
        margin-top: 10px;
        padding: 0px 10px;
        text-align: center;
    }
}

.vertical-left-border{
    border-left: 1px solid #e8e8e8;
    padding-top: 10px;
}

.medications-table{
    .done{
        color: #36cf82;
    }
}

.sensor-tile{
    & > div{
        text-align: center;
    }
    img{
        width: 75%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    p{
        text-align: center;
    }
    opacity: 0.4;
    transition: opacity 0.5s, transform 0.5s;
    &:hover{
        cursor: pointer;
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        opacity: 1;
    }
    &.active{
        -webkit-transform: scale(1.1, 1.05);
        -moz-transform: scale(1.1, 1.05);
        -ms-transform: scale(1.1, 1.05);
        -o-transform: scale(1.1, 1.05);
        transform: scale(1.1, 1.05);
        opacity: 1;
    }
}

.sensor-table{
    width: 100%;
    tbody{
        tr{
            td{
                text-align: center;
                img{
                    width: 64px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.link-span{
    padding-top: 7px;
    float: left;
    color: #337ab7;
    cursor: pointer;
    &:hover{
        color: darken(#337ab7, 10%);
    }
}

.login-form{
    h2{
        margin: 0px;
        font-size: 20px;
        margin-bottom: 15px;
        text-transform: uppercase;
        color: #696969;
    }
}

.register-panel{
    border: none !important;
}

ul.modal-error-list{
    padding-left: 20px !important;
}

.delete-doctor-modal-block{
    margin-bottom: 15px;
}