<div class="row">
    <div class="col-xs-12">
        <div class="row" data-ng-if="user.user_type == 'patient'">
            <div class="col-sm-3">
                <div class="panel header-panel">
                    <div class="panel-body text-center">Sus citas</div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-6">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div  class="panel">
            <div class="panel-body no-padding">
                <table ng-if="user.user_type == 'patient'" class="table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Doctor</th>
                        <th class="text-center">Área</th>
                        <th class="text-center">Fecha</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-if="appointments.length > 0"  data-ng-repeat="appointment in appointments">
                        <td>{{ appointment.name }} {{ appointment.lastname }}</td>
                        <td class="text-center">
                            <span ng-if="appointment.speciality">{{ appointment.speciality }}</span>
                            <span ng-if="!appointment.speciality">No definida</span>
                        </td>
                        <td class="text-center">{{ appointment.date | amDateFormat:'DD/MM/YYYY HH:MM' }}</td>
                        <td class="text-center">
                            <a class="list-action-button" title="Detalles la Consulta"  data-ui-sref="index.patient_appointment_summary({id: appointment.id})"><i class="fa fa-search-plus"></i></a>
                        </td>
                    </tr>
                    <tr data-ng-if="appointments.length == 0">
                        <td colspan="6" class="text-center">
                            Lo setimos, usted no tiene citas programadas aún. Solicite una cita presionando <a data-ui-sref="index.appointment_requests_add">aquí</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>