<div class="modal-header">
    Cambiar contraseña
</div>
<div class="modal-body">
    <form class="form-horizontal" id="password-form" name="password-form">
        <div class="row">
            <label for="password" class="col-sm-4 control-label">Contraseña</label>
            <div class="form-group col-sm-6">
                <input class="form-control" name="password" id="password" type="password" placeholder="Contraseña" data-ng-model="credentials.new_password">
            </div>
        </div>
        <div class="row">
            <label for="password_conf" class="col-sm-4 control-label">Repetir Contraseña</label>
            <div class="form-group col-sm-6">
                <input class="form-control " name="password_conf" id="password_conf" type="password" placeholder="Repetir contraseña" data-ng-model="credentials.new_password_conf">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-primary" data-ng-click="changePassword()">Guardar cambios</button>
            <button class="btn btn-danger" data-ng-click="$dismiss()">Cancelar</button>
        </div>
    </div>
</div>