<div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="row  outside-logo">
                <div class="col-lg-4 col-lg-offset-4">
                    <h1>
                        <a href="">
                            <img class="logo" src="/images/logo.png" alt="logo">
                            <img class="logo-text" src="/images/laria.png" alt="laria">
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div data-ui-view=""></div>
</div>