<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading green-heading">Solicitar cita médica</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <form class="form-horizontal" name="appointment_form" id="appointment_form">
                            <div class="form-group">
                                <label  class="col-sm-4 control-label">Fecha</label>
                                <div class="col-sm-8">
                                    <ng-bs3-datepicker name="date" ng-required="true" id="date" data-ng-model='date' language="es" date-format="YYYY-MM-DD"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Hora</label>
                                <div class="col-sm-8">
                                    <div>
                                        <uib-timepicker ng-model="time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Doctor</label>
                                <div class="col-sm-8">
                                    <select data-ng-change="selectDoctor()" class="form-control" name="doctor" id="doctor" data-ng-model="appointment.doctor_id" data-ng-options="doctor.id as doctor.full_name for doctor in doctors">
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Área</label>
                                <div class="col-sm-8">
                                    <select data-ng-disabled="!specialties" class="form-control" id="area_id" name="area_id" data-ng-model="appointment.area_id" data-ng-options="area.id as area.name for area in specialties">
                                        <option value="">Seleccione el área de la consulta</option>
                                    </select>
                                    <p data-ng-if="loading_doctor_specs" class="help-block">Cargando especialidades...</p>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 40px;margin-bottom: 50px">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button class="btn btn-default" type="submit" ng-click="handleInsert()">Solicitar Cita</button>
                                    <a data-ui-sref="index.appointment_requests" class="btn btn-danger">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

