<div class="panel panel-default">
    <div class="panel-heading green-heading">Actualizar Perfil</div>
    <div class="panel-body">
        <div class="row" style="margin-top: 30px">
            <div class="col-xs-12">
                <form class="form-horizontal" id="update_patient" name="update_patient">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="well">
                                <div id="profile_picture" class="profile-picture-wrapper" >
                                    <img data-ng-src="{{ patient.profile_picture }}" />
                                </div>
                                <div class="text-center" data-ng-show="user.user_type == 'patient'">
                                    <div class="btn btn-primary profile-upload-btn" ngf-select="upload($file)">
                                        <span data-ng-hide="uploading">Cambiar imagen</span>
                                        <span data-ng-show="uploading">Subiendo...</span>
                                    </div>
                                </div>
                                <div class="text-center" data-ng-show="user.user_type != 'patient'" style="margin-top: 10px;">
                                    <p>El paciente podrá cambiar la imagen de perfil al acceder a su cuenta</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <fieldset>
                                <legend>Datos del perfil</legend>
                                <div class="form-group">
                                    <label for="email" class="col-lg-3 control-label text-right">Correo <i class="required">(*)</i></label>
                                    <div class="col-lg-9">
                                        <input type="email" name="email" id="email" class="form-control" ng-model="patient.email" placeholder="Correo" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-lg-3 control-label text-right">Nombre <i class="required">(*)</i></label>
                                    <div class="col-lg-9">
                                        <input type="text" name="name" id="name" class="form-control" ng-model="patient.name" placeholder="Nombre" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-lg-3 control-label text-right">Apellidos <i class="required">(*)</i></label>
                                    <div class="col-lg-9">
                                        <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Apellidos" ng-model="patient.lastname" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="documentation" class="col-sm-3 control-label text-right">Documentación <i class="required">(*)</i></label>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <select class="form-control" name="documentation_type" id="documentation_type" data-ng-model="patient.doc_type">
                                                            <option data-ng-selected="patient.doc_type == 'curp'" value="curp">CURP</option>
                                                            <option data-ng-selected="patient.doc_type == 'passport'" value="curp">Pasaporte</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" name="documentation" id="documentation" data-ng-model="patient.id_doc">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="patient_device_id" class="col-sm-3 control-label text-right">Id Dispositivo</label>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input class="form-control" name="patient_device_id" id="patient_device_id" data-ng-model="patient.device_id" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="password_link" class="col-sm-3 control-label text-right">Contraseña</label>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <span class="link-span" data-ng-click="triggerPasswordChange()"><i class="fa fa-lock"></i> Cambiar</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <fieldset>
                                <legend>Otros datos</legend>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row form-group">
                                            <label for="email" class="col-lg-6 control-label">Tel&eacute;fono <i class="required">(*)</i></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="cell" id="cell" class="form-control" placeholder="Tel&eacute;fono" ng-model="patient.cell" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="gender" class="col-sm-6 control-label">Género <i class="required">(*)</i></label>
                                            <div class="col-sm-6">
                                                <select name="gender" id="gender" class="form-control" data-ng-model="patient.gender">
                                                    <option value="">Seleccione</option>
                                                    <option data-ng-selected="patient.gender == 'Femenino'" value="Femenino">
                                                        Femenino
                                                    </option>
                                                    <option data-ng-selected="patient.gender == 'Masculino'" value="Masculino">
                                                        Masculino
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="religion" class="col-sm-6 control-label">Religión</label>
                                            <div class="col-lg-6">
                                                <input type="text" name="religion" id="religion" class="form-control" placeholder="Religión" ng-model="patient.religion" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="city" class="col-sm-6 control-label">Ciudad <i class="required">(*)</i></label>
                                            <div class="col-lg-6">
                                                <input type="text" name="city" id="city" class="form-control" placeholder="Ciudad" ng-model="patient.city" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="street" class="col-sm-6 control-label">Calle <i class="required">(*)</i></label>
                                            <div class="col-sm-6">
                                                <input type="text" name="street" id="street" class="form-control" placeholder="Calle" ng-model="patient.street" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="origin" class="col-sm-6 control-label">Lugar de origen <i class="required">(*)</i></label>
                                            <div class="col-sm-6">
                                                <input type="text" name="origin" id="origin" class="form-control" placeholder="Lugar de origen" ng-model="patient.origin" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row form-group">
                                            <label for="insurance" class="col-sm-6 control-label">Seguro médico <i class="required">(*)</i></label>
                                            <div class="col-sm-6">
                                                <input type="text" name="insurance" id="insurance" class="form-control" placeholder="Seguro médico" ng-model="patient.medical_insurance" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label class="col-sm-6 control-label">Nacimiento <i class="required">(*)</i></label>
                                            <div class="col-sm-6">
                                                <ng-bs3-datepicker name="date" id="date" ng-required="true" id="birthday" data-ng-model='patient.birthday' language="es"
                                                                   date-format="YYYY-MM-DD"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="marital_status" class="col-sm-6 control-label">Estado civil</label>
                                            <div class="col-sm-6">
                                                <select name="marital_status" id="marital_status" class="form-control" placeholder="Colonia" ng-model="patient.marital_status">
                                                    <option value="">Seleccione</option>
                                                    <option data-ng-selected="patient.marital_status == 'Soltero'"value="Ninguno">Ninguno</option>
                                                    <option data-ng-selected="patient.marital_status == 'Soltero'"value="Soltero">Soltero</option>
                                                    <option data-ng-selected="patient.marital_status == 'Casado'"value="Casado">Casado</option>
                                                    <option data-ng-selected="patient.marital_status == 'Viudo'"value="Viudo">Viudo</option>
                                                    <option data-ng-selected="patient.marital_status == 'Union Libre'"value="Union Libre">Uni&oacute;n Libre</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="colony" class="col-sm-6 control-label">Colonia</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="colony" id="colony" class="form-control" placeholder="Colonia" ng-model="patient.colony" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="number" class="col-sm-6 control-label">N&uacute;mero</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="number" id="number" class="form-control" placeholder="N&uacute;mero" ng-model="patient.number" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="postal_code" class="col-sm-6 control-label">C&oacute;digo Postal</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="postal_code" id="postal_code" class="form-control" placeholder="C&oacute;digo Postal" ng-model="patient.postal_code"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <hr>
                                    <button type="submit" ng-click="updatePatient(patient)" class="btn btn-default">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>