<div class="row">
    <div class="col-xs-12">
        <div class="row" data-ng-if="user.user_type == 'doctor'">
            <div class="col-sm-3">
                <div class="panel header-panel">
                    <div class="panel-body text-center">Pacientes</div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-6">
                <div class="panel header-panel">
                    <div class="panel-body text-center">
                        <a class="span-button" data-ui-sref="index.patients_add"><i class="fa fa-plus"></i> Agregar paciente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div  class="panel" style="padding: 0px;">
            <div class="panel-body no-padding ">
                <div ng-hide="insertShow">
                    <table ng-if="user.user_type == 'doctor'" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Seguro M&eacute;dico</th>
                            <th>Tel&eacute;fono</th>
                            <th class="text-center">Género</th>
                            <th class="text-center">Edad(A&ntilde;os)</th>
                            <th class="text-center">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input style="width: 100%" type="text" name="Search" data-ng-change="termFilter(criteria)" data-ng-model="criteria.name"></td>
                                <td><input style="width: 100%" type="text" name="Search" data-ng-change="termFilter(criteria)" data-ng-model="criteria.medical_insurance"></td>
                                <td><input style="width: 100%" type="text" name="Search" data-ng-change="termFilter(criteria)" data-ng-model="criteria.cell"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr data-ng-repeat="patient in patients">
                                <td>{{ patient.name }} {{ patient.lastname }}</td>
                                <td>{{ patient.medical_insurance }}</td>
                                <td>{{ patient.cell }}</td>
                                <td class="text-center">{{ patient.gender }}</a></td>
                                <td class="text-center">{{ actual_date | amDifference : patient.birthday : 'years' }}</a></td>
                                <td class="text-center">
                                    <a data-ui-sref="index.patients_add({id: patient.id})" class="list-action-button" title="Editar" data-ng-click="loadpatienttoedit($index, patient.id)"><i class="fa fa-edit"></i></a>
                                    <span class="list-action-button" title="Eliminar" data-ng-click="removePatient(patient, $index)"><i class="fa fa-trash-o"></i></span>
                                </td>
                            </tr>
                            <tr data-ng-hide="patients.length > 0">
                                <td colspan="6" class="text-center">No tiene pacientes registrados aún o no existen pacientes que cumplan con su criterio de búsqueda</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>