<div class="row">
    <div class="col-sm-3">
        <div class="panel header-panel">
            <div class="panel-body">
                Solicitudes de cita
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-6">
        <div data-ng-if="user.user_type == 'patient'">
            <div class="panel header-panel">
                <div class="panel-body text-center">
                    <a data-ui-sref="index.appointment_requests_add">
                        <i class="fa fa-plus"></i> Solicitar cita
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-body no-padding">
                <table ng-if="user.user_type == 'patient'" class="tablelist table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Doctor</th>
                        <th class="text-center">Área</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr  data-ng-repeat="appointment in appointments" data-ng-show="appointments.length > 0">
                            <td>{{ appointment.doctor }}</td>
                            <td>{{ appointment.area }}</td>
                            <td>{{ appointment.date | amDateFormat:'DD/MM/YYYY HH:MM' }}</td>
                            <td class="text-center">
                                <span class="list-action-button" title="Eliminar solicitud" data-ng-click="removeAppointment(appointment, $index)">
                                    <i class="fa fa-trash-o"></i>
                                </span>
                            </td>
                        </tr>
                        <tr data-ng-show="!appointments || appointments.length == 0" class="text-center">
                            <td colspan="4">Usted no ha solicitado citas hasta el momento. Solicite una presionando <a data-ui-sref="index.appointment_requests_add">aquí</a></td>
                        </tr>
                    </tbody>
                </table>
                <table ng-if="user.user_type == 'doctor'" class="tablelist table table-striped">
                    <thead>
                    <tr>
                        <th class="text-center">Paciente</th>
                        <th class="text-center">CURP</th>
                        <th class="text-center">Fecha</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="appointment in appointments">
                        <td>{{ appointment.patient_name }} {{ appointment.patient_lastname }}</td>
                        <td>{{ appointment.patient_curp }}</td>
                        <td>{{ appointment.date | amDateFormat:'DD/MM/YYYY HH:MM' }}</td>
                        <td class="text-center">
                            <span class="list-action-button" data-ng-click="approveAppointment(appointment, $index)" title="Aprobar Solicitud">
                                <i class="fa fa-check-circle-o" ></i>
                            </span>
                            <span class="list-action-button" title="Eliminar solicitud" data-ng-click="removeAppointment(appointment, $index)">
                                <i class="fa fa-trash-o"></i>
                            </span>
                        </td>
                    </tr>
                    <tr data-ng-show="appointments.length == 0">
                        <td colspan="4" class="text-center">No tiene solicitudes de citas hasta el momento</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>