<div class="panel panel-default">
    <div class="panel-heading green-heading">Actualizar Perfil</div>
    <div class="panel-body">
        <div class="row" style="margin-top: 30px">
            <div class="col-xs-12">
                <form class="form-horizontal" id="update_doctor" name="update_doctor">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="well">
                                <div id="profile_picture" class="profile-picture-wrapper" >
                                    <img data-ng-src="{{ doctor.profile_picture }}" />
                                </div>
                                <div class="text-center">
                                    <div class="btn btn-primary profile-upload-btn" ngf-select="upload($file)">
                                        <span data-ng-hide="uploading">Cambiar imagen</span>
                                        <span data-ng-show="uploading">Subiendo...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <fieldset>
                                <legend>Datos del perfil</legend>
                                <div class="form-group">
                                    <label for="email" class="col-lg-3 control-label text-right">Correo <i class="required">(*)</i></label>
                                    <div class="col-lg-9">
                                        <input type="email" name="email" id="email" class="form-control" ng-model="doctor.email" placeholder="Correo" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Contrase&ntilde;a</label>
                                    <div class="col-sm-9">
                                        <!--<input type="password" name="password" id="password" class="form-control" placeholder="Contrase&ntilde;a" ng-model="doctor.password" />-->
                                        <p class="form-control-static">
                                            <span class="list-action-button no-large-icon" data-ng-click="triggerPasswordChange()"><i class="fa fa-lock"></i> Cambiar</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-lg-3 control-label text-right">Nombre <i class="required">(*)</i></label>
                                    <div class="col-lg-9">
                                        <input type="text" name="name" id="name" class="form-control" ng-model="doctor.name" placeholder="Nombre" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="col-lg-3 control-label text-right">Apellidos <i class="required">(*)</i></label>
                                    <div class="col-lg-9">
                                        <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Apellidos" ng-model="doctor.lastname" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="spec_1" class="col-sm-3 control-label text-right">Especialidades <i class="required">(*)</i></label>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <select class="form-control" name="spec_1" id="spec_1" data-ng-model="doctor.speciality" data-ng-options="spec.id as spec.speciality for spec in specialties">
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select class="form-control" name="spec_1" id="spec_1" data-ng-model="doctor.second_speciality" data-ng-options="spec.id as spec.speciality for spec in specialties">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label for="professional_license" class="col-sm-3 control-label text-right">Licencia profesional <i class="required">(*)</i></label>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input class="form-control" name="professional_license" id="professional_license" data-ng-model="doctor.professional_license" />
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label for="dni" class="col-sm-5 control-label text-right">Cédula <i class="required">(*)</i></label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control" name="dni" id="dni" data-ng-model="doctor.cedula" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <fieldset>
                                <legend>Otros datos</legend>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row form-group">
                                                <label for="email" class="col-lg-6 control-label">Tel&eacute;fono</label>
                                                <div class="col-lg-6">
                                                    <input type="text" name="cell" id="cell" class="form-control" placeholder="Tel&eacute;fono" ng-model="doctor.cell" />
                                                </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="sex" class="col-sm-6 control-label">Género</label>
                                            <div class="col-sm-6">
                                                <select name="sex" id="sex" class="form-control" data-ng-model="doctor.gender">
                                                    <option value="">Seleccione</option>
                                                    <option data-ng-selected="doctor.gender == 'Femenino'" value="Femenino">
                                                        Femenino
                                                    </option>
                                                    <option data-ng-selected="doctor.gender == 'Masculino'" value="Masculino">
                                                        Masculino
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="city" class="col-sm-6 control-label">Ciudad</label>
                                            <div class="col-lg-6">
                                                <input type="text" name="city" id="city" class="form-control" placeholder="Ciudad" ng-model="doctor.city" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="street" class="col-sm-6 control-label">Calle</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="street" id="street" class="form-control" placeholder="Calle" ng-model="doctor.street" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="row form-group">
                                            <label class="col-sm-6 control-label">Nacimiento</label>
                                            <div class="col-sm-6">
                                                <ng-bs3-datepicker name="date" id="date" ng-required="true" id="birthday" data-ng-model='doctor.birthday' language="es"
                                                                   date-format="YYYY-MM-DD"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="colony" class="col-sm-6 control-label">Colonia</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="colony" id="colony" class="form-control" placeholder="Colonia" ng-model="doctor.colony" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="number" class="col-sm-6 control-label">N&uacute;mero</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="number" id="number" class="form-control" placeholder="N&uacute;mero" ng-model="doctor.number" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <label for="postal_code" class="col-sm-6 control-label">C&oacute;digo Postal</label>
                                            <div class="col-sm-6">
                                                <input type="text" name="postal_code" id="postal_code" class="form-control" placeholder="C&oacute;digo Postal" ng-model="doctor.postal_code"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-right">
                                        <hr>
                                        <button type="submit" ng-click="updateDoctor(user)" class="btn btn-default">Actualizar perfil</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
