<div class="modal-header">
    {{ title }}
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-2 text-center">
            <i class="fa fa-exclamation-circle fa-3x"></i>
        </div>
        <div class="col-xs-10">
            <p>
                {{ message }}
            </p>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default" data-ng-click="$close(true)">Sí</button>
            <button class="btn btn-danger" data-ng-click="$close(false)">No</button>
        </div>
    </div>
</div>