<div class="modal-header">
    Confirmar Eliminacion de Doctor
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-4 text-center">
            <div class="profile-picture-wrapper">
                <img class="modal-profile-picture" data-ng-src="{{ doctor.profile_picture ? '/uploads/users_pictures/' + doctor.profile_picture : '/images/default-profile.png' }}">
            </div>
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="delete-doctor-modal-block col-lg-9"><span>Nombre:</span>  {{ doctor.name }} {{ doctor.lastname }}</div>
                <div class="delete-doctor-modal-block col-lg-9"><span>C&eacute;dula: </span> {{ doctor.cedula }}</div>
                <div class="delete-doctor-modal-block col-lg-9"><span>L. Profecional:</span> {{ doctor.professional_license}}</div>
                <div class="delete-doctor-modal-block col-lg-9"><span>Especialidad:</span> {{ doctor.speciality}}</div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default" data-ng-click="$close(true)">Sí</button>
            <button class="btn btn-danger" data-ng-click="$close(false)">No</button>
        </div>
    </div>
</div>