<div class="modal-header">
    Confirmar Eliminacion de Paciente
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-4 text-center">
            <div class="profile-picture-wrapper">
                <img class="modal-profile-picture" data-ng-src="{{ patient.profile_picture ? '/uploads/users_pictures/' + patient.profile_picture : '/images/default-profile.png' }}">
            </div>
        </div>
        <div class="col-xs-8">
            <div class="row">
                <div class="delete-doctor-modal-block col-lg-9"><span>Nombre:</span>  {{ patient.name }} {{ patient.lastname }}</div>
                <div class="delete-doctor-modal-block col-lg-9"><span>Seguro M&eacute;dico: </span> {{ patient.medical_insurance }}</div>
                <div class="delete-doctor-modal-block col-lg-9">
                    <span data-ng-if="patient.doc_type == 'curp'">CURP: {{ patient.id_doc }}</span>
                    <span data-ng-if="patient.doc_type == 'passaport'">Pasaporte: {{ patient.id_doc }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-default" data-ng-click="$close(true)">Sí</button>
            <button class="btn btn-danger" data-ng-click="$close(false)">No</button>
        </div>
    </div>
</div>