<form novalidate name="newmedication_form" id="newmedication_form" class="form-horizontal">
    <div class="modal-header">
        Medicamentos
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="medications" class="control-label col-sm-3">Medicamento <i class="required">(*)</i></label>
            <div class="col-sm-9">
                <select data-ng-readonly="selected_medication" class="form-control" name="medications" id="medications" data-ng-model="newmedications.medication_id" data-ng-options="medication.id as medication.medication for medication in medications ">
                    <option value="">Seleccione</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="dose" class="control-label col-sm-3">Dosis <i class="required">(*)</i></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="dose" id="dose" data-ng-model="newmedications.dose" />
            </div>
        </div>
        <div class="form-group">
            <label for="iterations" class="control-label col-sm-3">Horario <i class="required">(*)</i></label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="iterations" id="iterations" data-ng-model="newmedications.iterations">
            </div>
        </div>
        <div class="form-group">
            <label for="iterations" class="control-label col-sm-3">Notas</label>
            <div class="col-sm-9">
                <textarea name="notes" id="notes" class="form-control" rows="4" data-ng-model="newmedications.notes"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12 text-right">
                <button class="btn btn-success" data-ng-click="saveMedication()">Guardar</button>
                <button class="btn btn-danger" data-ng-click="$dismiss()">Cancelar</button>
            </div>
        </div>
    </div>
</form>