<div data-ng-controller="appointmentsController">
    <div ng-hide="insertShow" class="col-lg-12" style="padding: 0px">
        <div class="col-lg-12" style="padding: 0px;" ng-if="user_data.user_type == 'doctor'">
            <div>
                <span>
                     <span class="panel col-lg-3 text-center" style="padding-top: 10px; padding-bottom: 10px;">Cita de Pacientes</span>
                </span>
            </div>
            <div class="col-lg-3 col-lg-offset-6 text-center panel" style="padding-bottom: 10px;padding-top: 5px;cursor: pointer" data-ng-click="showInsert()">
                <i class="glyphicon glyphicon-plus" style="padding-top: 5px;"></i>
                <span class="" style="padding-top: 5px; padding-left: 10px;" >Programar Cita</span>
            </div>
        </div>
        <div ng-if="user_data.user_type == 'patient'">
            <div>
                <span>
                     <span class="panel col-lg-3 text-center" style="padding-top: 10px; padding-bottom: 10px;">Sus Citas</span>
                </span>
            </div>
            <div  class="panel col-lg-3 col-lg-offset-6 text-center" style="padding-bottom: 10px;padding-top: 5px;cursor: pointer">
                <i class="glyphicon glyphicon-plus" style="padding-top: 5px;"></i>
                <a style="text-decoration:none;color:black;cursor: pointer" data-ui-sref="solicitar_appointment">Ver Solicitudes</a>
            </div>
        </div>

    </div>

    <div  class="panel col-lg-12" style="padding: 0px;">
        <div class="panel-body" >
            <div ng-hide="insertShow">
                <table ng-if="user_data.user_type == 'patient'" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Especialidad(es)</th>
                            <th>Asistencia</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  data-ng-repeat="appoiment in appoiments">
                            <td>{{ appoiment.doctor_name }} {{ appoiment.doctor_lastname }}</td>
                            <td>{{ appoiment.speciality }} <span data-ng-if="appoiment.second_speciality_id != 1"> {{ appoiment.second_speciality }}</span></td>
                            <td class="text-center"  ng-if="appoiment.assisted == 1"><a  href="#"><img style="height: 24px;"  src="/public/images/check.png"></a></td>
                            <td class="text-center" ng-if="appoiment.assisted == 0"><a href="#"><img style="height: 24px;"  src="/public/images/no-check.png"></a></td>
                            <td>{{ appoiment.date | amDateFormat:'DD/MM/YYYY HH:MM' }}</td>
                        </tr>
                    </tbody>
                </table>
                <table ng-if="user_data.user_type == 'doctor'" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Asistencia</th>
                        <th>Fecha</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input style="width: 100%" type="text" name="Search" data-ng-change="toSearch(criterial,assisted)" data-ng-model="criterial"></td>
                        <td class="text-center">
                            <i class="glyphicon glyphicon-asterisk" style="cursor: pointer;color: black;font-size: 24px" data-ng-click="setassited(null, criterial)"></i>
                            <a href="#"><img style="height: 24px;"  src="/public/images/check.png" data-ng-click="setassited(1, criterial)"></a>
                            <a href="#"><img style="height: 24px"  src="/public/images/no-check.png" data-ng-click="setassited(0, criterial)"></a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr  data-ng-repeat="appoiment in appoiments">
                        <td>{{ appoiment.patient_name }} {{ appoiment.patient_lastname }}</td>
                        <td class="text-center"  ng-if="appoiment.assisted == 1"><a href="#"><img style="height: 24px"  src="/public/images/check.png"></a></td>
                        <td class="text-center" ng-if="appoiment.assisted == 0"><a href="#"><img style="height: 24px"  src="/public/images/no-check.png"></a></td>
                        <td>{{ appoiment.date | amDateFormat:'DD/MM/YYYY HH:mm' }}</td>
                        <td class="text-center">
                            <i> <a style="text-decoration: none;color: #080808" data-ui-sref="appoiment_patient({'user_id': appoiment.patient_id, 'appointment_id': appoiment.appoiment_id})"><i style="font-size: 18px; padding-right: 3px" title="Realizar la Consulta" class="glyphicon glyphicon-check"></i></a></i>
                            <i title="Editar Cita" class="glyphicon glyphicon-edit" data-ng-click="loadAppoiment(appoiment.appoiment_id, $index)" style="cursor: pointer;font-size: 18px; padding-right: 3px"></i>
                            <i title="Eliminar Cita" class="glyphicon glyphicon-trash" data-ng-click="confirmdelete(appoiment.appoiment_id,appoiment.patient_id, $index)" style="cursor: pointer;font-size: 18px; padding-right: 3px"></i>
                        </td>
                    </tr>
                    </tbody>
                    <!--<tr>-->
                        <!--<td colspan="4" class="text-center">-->
                            <!--<span>1.1.1.1.1.1.1</span>-->
                        <!--</td>-->
                    <!--</tr>-->
                </table>
            </div>
            <div class="col-lg-12" data-ng-show="insertShow" style="padding: 0">
                <div style="background: #36cf82; height: 50px;font-family: RobotoSlab-Regular;padding-top:15px !important; padding-left:5px;color: white; font-size: 20px">
                    Formulario Cita
                </div>
                <div style="margin-top: 30px">
                    <form novalidate id="appointment_form" name="appointment_form" class="form-horizontal">
                        <div class="form-group" style="padding-right: 10px">
                            <label  class="col-lg-4 control-label" style="font-family: RobotoSlab-Regular;padding-top: 40px;">Fecha</label>
                            <div class="col-sm-4 col-lg-3" style="padding-top: 34px;">
                                <ng-bs3-datepicker id="date" data-ng-model='date' ng-required="true" language="es" date-format="YYYY-MM-DD"/>
                            </div>
                            <div class="col-lg-3">
                                <div>
                                    <uib-timepicker ng-model="time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="padding-right: 10px">
                            <label for="patient" class="col-sm-4 control-label" style="font-family: RobotoSlab-Regular">Paciente</label>
                            <div class="col-sm-4 col-lg-4">
                                <select class="form-control" id="patient" name="patient" data-ng-model="appointment.patient_id">
                                    <option value="">Seleccione</option>
                                    <option ng-selected="patient.id == appointment.patient_id" data-ng-repeat="patient in patients" value="{{ patient.id }}">{{ patient.name }} {{ patient.lastname }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 40px;margin-bottom: 50px">
                            <div class="col-sm-offset-4 col-sm-8">
                                <input type="hidden" data-ng-model="appoimentIndex">
                                <button style="background: #36cf82;font-family: RobotoSlab-Regular;color: white"  data-ng-show="insertShowButton" type="submit" ng-click="handleInsert()" class="btn btn-default">Agendar Cita</button>
                                <button style="background: #36cf82;font-family: RobotoSlab-Regular;color: white"  data-ng-show="updateShowButton" type="submit" ng-click="handleUpdate(appoiment_id, appoimentIndex)" class="btn btn-default">Actualizar Cita</button>
                                <button style="background: #36cf82;font-family: RobotoSlab-Regular;color: white; margin-left: 30px" type="submit" ng-click="calcelInsertAppoiment()" class="btn btn-default">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>