<div  data-ng-controller="appoiment_userController">
    <div data-ng-hide="updateShow">
        <div class="col-lg-12 text-center" style="padding: 0px">
            <div>
                <a class="col-lg-2 panel" data-ng-click="doAppointment()" ng-class="navigationActiveClass('appointments')" style="margin-bottom: 20px;height: 40px;padding-top: 10px;text-decoration: none;color: black" href="#/appointments">Aceptar</a>
            </div>
            <div class="panel col-lg-6 col-lg-offset-1" style="margin-bottom: 20px;height: 40px;padding-top: 10px;text-align: center;">
                Consulta del Paciente
            </div>
            <div>
                <a class="col-lg-2 panel col-lg-offset-1" ng-class="navigationActiveClass('appointments')" style="margin-bottom: 20px;height: 40px;padding-top: 10px;text-decoration: none;color: black" href="#/appointments">Cancelar</a>
            </div>
        </div>
        <div class="panel col-lg-12">
            <div class="panel-body" >
                <div>
                    <div class="col-lg-12 " style="padding: 0px;">
                        <div class="col-lg-12" style="padding-top: 10px;padding-left: 0px; padding-right: 0px;">
                          <div class="col-lg-2" style="padding-left: 0px;margin-bottom: 7px">
                              <img style="height: 150px;width:150px;border: 9px solid #4ec9d4; -moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;" data-ng-src="{{ patient.profile_picture }}">
                          </div>
                          <div class="col-lg-9" style="padding-left: 20px;padding-top: 5px;font-family: RobotoSlab-Regular">
                              <p style="margin: 0 0 5px 10px">{{ patient.name }} {{ patient.lastname }}</p>
                              <p style="margin: 0 0 5px 10px">Edad: {{ actual_date | amDifference : patient.birthday : 'years' }} A&ntilde;os</p>
                              <p style="margin: 0 0 5px 10px">Curp: {{ patient.curp }}</p>
                              <p style="margin: 0 0 5px 10px">Id de Dispositivo: {{ patient.idDisp }}</p>
                              <p style="margin: 0 0 5px 10px">Correo: {{ patient.email }}</p>
                              <p style="margin: 0 0 5px 10px">Sexo: {{ patient.sex }}</p>
                              <p style="margin: 0 0 5px 10px">Seguro M&eacute;dico: 23511</p>
                          </div>

                           <div class="col-lg-1" style="padding: 0px">
                               <img data-ng-click="confirmdelete(patient.id)" style="cursor:pointer;height: 30px;width: 30px;float: right;margin-top: 1px" src="/public/images/delete.png">
                               <a href=""><img  data-ng-click="showEdit()" style="height: 30px;width: 30px;float: right;margin-right: 3px" src="/public/images/edit.png"></a>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="padding: 0px">
            <div class="col-lg-2" style="padding: 0px">
                <div class="panel text-center" style="padding:5px 3px 0px 3px; margin-right: 5px">
                    <div>
                        <img style="height: 100px;width: 100px" src="/public/images/unnamed%20(2).png">
                    </div>
                    <p class="screen" style="padding: 5px 0px 5px 0px;font-family: RobotoSlab-Regular;font-size: 15px">Ritmo Cardiaco</p>
                    <p class="screen" style="padding: 5px 0px 5px 0px; color: #00b3ee;font-family: RobotoSlab-Regular; font-size: 15px">67</p>
                </div>
            </div>
            <div class="col-lg-2" style="padding: 0px">
                <div class="panel text-center" style="padding:5px 3px 0px 3px; margin-right: 5px;">
                    <div>
                        <img style="height: 100px;width: 100px" src="/public/images/unnamed%20(3).png">
                    </div>
                    <p class="screen" style="padding: 5px 0px 5px 0px;font-family: RobotoSlab-Regular;font-size: 13px">Electrocardiograma</p>
                    <p class="screen" style="padding: 5px 0px 5px 0px; color: #00b3ee;font-family: RobotoSlab-Regular; font-size: 15px;text-decoration: underline">Ver</p>
                </div>
            </div>
            <div class="col-lg-2" style="padding: 0px">
                <div class="panel text-center" style="padding:5px 3px 0px 3px; margin-right: 5px;">
                    <div>
                        <img style="height: 100px;width: 100px" src="/public/images/unnamed%20(5).png">
                    </div>
                    <p class="screen" style="padding: 5px 0px 5px 0px;font-family: RobotoSlab-Regular;font-size: 15px">Temperatura</p>
                    <p class="screen" style="padding: 5px 0px 5px 0px; color: #00b3ee;font-family: RobotoSlab-Regular; font-size: 15px">36.5 &ordm;C</p>
                </div>
            </div>
            <div class="col-lg-2" style="padding: 0px">
                <div class="panel text-center" style="padding:5px 3px 0px 3px; margin-right: 5px;">
                    <div>
                        <img style="height: 100px;width: 100px" src="/public/images/unnamed%20(1).png">
                    </div>
                    <p class="screen" class="screen" style="padding: 5px 0px 5px 0px;font-family: RobotoSlab-Regular;font-size: 15px">Peso</p>
                    <p class="screen" style="padding: 5px 0px 5px 0px; color: #00b3ee;font-family: RobotoSlab-Regular; font-size: 15px">89kg</p>
                </div>
            </div>
            <div class="col-lg-2" style="padding: 0px">
                <div class="panel text-center" style="padding:5px 3px 0px 3px; margin-right: 5px;">
                    <div>
                        <img style="height: 100px;width: 100px" src="/public/images/unnamed%20(4).png">
                    </div>
                    <p class="screen" style="padding: 5px 0px 5px 0px;font-family: RobotoSlab-Regular;font-size: 15px">Glucosa</p>
                    <p class="screen" style="padding: 5px 0px 5px 0px; color: #00b3ee;font-family: RobotoSlab-Regular; font-size: 15px">96</p>
                </div>
            </div>
            <div class="col-lg-2" style="padding: 0px">
                <div class="panel text-center" style="padding:5px 3px 0px 3px;">
                    <div>
                        <img style="height: 100px;width: 100px" src="/public/images/unnamed.png">
                    </div>
                    <p class="screen" style="padding: 5px 0px 5px 0px;font-family: RobotoSlab-Regular;font-size: 15px">Talla</p>
                    <p class="screen" style="padding: 5px 0px 5px 0px; color: #00b3ee;font-family: RobotoSlab-Regular; font-size: 15px">1.80 m</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="padding: 0px;">
            <div class="panel col-lg-2 text-center" style="height: 30px;padding-top: 5px;">
                Indicaciones
            </div>
        </div>
        <div class="col-lg-12" style="margin-bottom: 20px;padding: 0px">
            <texarea text-angular ng-model="appointment.indications"></texarea>
        </div>
        <div class="col-lg-12" style="padding: 0px;">
            <div class="panel col-lg-2 text-center" style="height: 30px;padding-top: 5px;">
                Medicamentos
            </div>
            <div data-ng-click="newmedication()" class="panel col-lg-4 col-xs-offset-6 text-center" style="height: 30px;padding-top: 5px;cursor: pointer;">
               <i class="glyphicon glyphicon-plus"></i> A&ntilde;adir Medicamentos
            </div>
        </div>
        <div class="panel col-lg-12" style="padding: 0px;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Medicamento</th>
                    <th>Dosis</th>
                    <th>Horario</th>
                    <th>Notas</th>
                    <th>Fecha</th>
                    <th>Operacion</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="medication_appointment in medications_appointment">
                    <td>{{ medication_appointment.medication }}</td>
                    <td>{{ medication_appointment.dose }}</td>
                    <td>{{ medication_appointment.iterations }}</td>
                    <td ng-bind-html="medication_appointment.notes | characters:30:true"></td>
                    <td>{{ medication_appointment.date | amDateFormat:'DD/MM/YYYY' }}</td>
                    <input type="hidden" data-ng-model="medication_appointment.medications_id">
                    <td>
                        <i data-ng-click="loadMedication($index, medication_appointment.appoiments_id, medication_appointment.medications_id)" class="glyphicon glyphicon-edit" style="cursor: pointer" title="Editar Medicamento"></i>
                        <i data-ng-click="deleteMedication($index, medication_appointment.appoiments_id, medication_appointment.medications_id)" class="glyphicon glyphicon-trash" style="cursor: pointer" title="Eliminar Medicamento"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 panel" data-ng-show="updateShow" style="padding: 0">
        <div style="background: #36cf82; height: 50px;font-family: RobotoSlab-Regular;padding-top:10px !important; padding-left:5px;color: white; font-size: 20px">
            Agregar Nuevo Paciente
        </div>
        <div style="margin-top: 30px">
            <form class="form-horizontal">
                <div class="form-group col-lg-12" style="padding-right: 10px">
                    <div class="col-lg-3 text-center">
                        <div id="profile_picture" class="panel"
                             style="width: 150px;height: 150px;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;">
                            <img style="-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;height: 150px;width: 150px;"
                                 data-ng-src="{{ patient.profile_picture }}">
                        </div>
                        <div>
                            <input type="file" name="picture" id="picture" value="Seeee" class="custom-file-input" style="margin-top: 10px;width: 140px" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-9" style="padding-right: 0px">
                        <div class="form-group col-lg-12" style="padding: 0px">
                            <label for="email" class="col-lg-3 control-label text-right"
                                   style="font-family: RobotoSlab-Regular;padding-left: 0px;padding-right: 7px">Correo<span
                                    style="color: red">(*)</span></label>

                            <div class="col-lg-9">
                                <input type="email" name="email" id="email" class="form-control"
                                       ng-model="patient.email" placeholder="Correo">
                            </div>
                        </div>
                        <div class="form-group col-lg-12" style="padding: 0px">
                            <label for="name" class="col-lg-3 control-label text-right"
                                   style="font-family: RobotoSlab-Regular;padding-left: 0px;padding-right: 7px">Nombre<span
                                    style="color: red">(*)</span></label>

                            <div class="col-lg-9">
                                <input type="text" name="name" id="name" class="form-control"
                                       ng-model="patient.name" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="form-group col-lg-12" style="padding: 0px">
                            <label for="lastname" class="col-lg-3 control-label text-right"
                                   style="font-family: RobotoSlab-Regular;padding-left: 0px">Apellidos<span
                                    style="color: red">(*)</span></label>

                            <div class="col-lg-9">
                                <input type="text" name="lastname" id="lastname" class="form-control"
                                       placeholder="Apellidos" ng-model="patient.lastname">
                            </div>
                        </div>
                        <div class="form-group col-lg-12" style="padding-right: 0px; padding-left: 30px;">
                            <div  class="form-group col-lg-3" style="margin-right: 3px;">
                                <select data-ng-disabled="patient.documentationalue != null && patient.documentationalue != '' " class="form-control" id="documentation" data-ng-model="patient.documentationnname">
                                    <option value="">Seleccione</option>
                                    <option data-ng-selected="patient.passaport == ''" value="curp">CURP</option>
                                    <option data-ng-selected="patient.curp == ''" value="passaport">Pasaporte</option>
                                </select>
                            </div>
                            <div  class="col-lg-4" style="padding-left: 4px;">
                                <input type="text" name="document" id="document" class="form-control" placeholder="Documentaci&oacute;n" ng-model="patient.documentationalue">
                            </div>
                            <label style="font-family: RobotoSlab-Regular;padding-right: 10px;padding-left: 0px;" for="IdDisp" class="col-lg-3 control-label">ID-Dispositivo<span style="color: red">(*)</span></label>

                            <div class="col-lg-2" style="padding: 0px;">
                                <input type="text" id="idDisp" class="form-control" ng-model="patient.idDisp">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" style="padding-right: 0px">
                        <div class="form-group col-lg-12" style="margin-bottom: 0px;margin-top: 10px;padding-left: 30px;padding-right: 0px">
                            Datos Opcionales:
                            <hr style="border-bottom: 1px solid seagreen;margin-top: 5px;margin-right: 15px;">
                        </div>
                        <div class="form-group col-lg-12" style="padding-right: 0px;">
                            <label for="email" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">Tel&eacute;fono</label>

                            <div class="col-lg-3">
                                <input type="text" name="cell" id="cell" class="form-control"
                                       placeholder="Tel&eacute;fono" ng-model="patient.cell">
                            </div>
                            <label for="seguro_medico" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular">Seguro M&eacute;dico</label>

                            <div class="col-lg-3">
                                <input type="text" name="seguro_medico" id="seguro_medico"
                                       class="form-control" placeholder="C&eacute;dula"
                                       ng-model="patient.seguro_medico">
                            </div>
                        </div>
                        <div class="form-group col-lg-12" style="padding-right: 0px;">
                            <label for="sex" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">Sexo</label>

                            <div class="col-lg-3">
                                <select name="" id="sex" class="form-control" data-ng-model="patient.sex">
                                    <option value="">Seleccione</option>
                                    <option data-ng-selected="patient.sex == 'Femenino'" value="Femenino">
                                        Femenino
                                    </option>
                                    <option data-ng-selected="patient.sex == 'Masculino'" value="Masculino">
                                        Masculino
                                    </option>
                                </select>
                            </div>
                            <label class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">Nacimiento</label>

                            <div class="col-lg-3">
                                <ng-bs3-datepicker id="birthday" data-ng-model='patient.birthday' language="es"
                                                   date-format="YYYY-MM-DD"/>
                            </div>
                        </div>
                        <div class="form-group col-lg-12" style="padding-right: 0px;">
                            <label for="religion" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">Religi&oacute;n</label>

                            <div class="col-lg-3">
                                <input type="text" class="form-control" id="religion"
                                       data-ng-model="patient.religion" placeholder="Religion">
                            </div>
                            <label for="estado_civil" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">Estado
                                Civil</label>

                            <div class="col-lg-3">
                                <select name="" id="estado_civil" class="form-control"data-ng-model="patient.estado_civil">
                                    <option value="">Seleccione</option>
                                    <option data-ng-selected="patient.estado_civil == 'Soltero'"value="Ninguno">Ninguno</option>
                                    <option data-ng-selected="patient.estado_civil == 'Soltero'"value="Soltero">Soltero</option>
                                    <option data-ng-selected="patient.estado_civil == 'Casado'"value="Casado">Casado</option>
                                    <option data-ng-selected="patient.estado_civil == 'Viudo'"value="Viudo">Viudo</option>
                                    <option data-ng-selected="patient.estado_civil == 'Union Libre'"value="Union Libre">Uni&oacute;n Libre</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12" style="padding-right: 0px">
                        <div class="form-group col-lg-12" style="padding-right: 0px">
                            <label for="city" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">Ciudad</label>

                            <div class="col-lg-3">
                                <input type="text" name="city" id="city" class="form-control"
                                       placeholder="Ciudad" ng-model="patient.city">
                            </div>
                            <label for="colony" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">Colonia</label>

                            <div class="col-lg-3">
                                <input type="text" name="colony" id="colony" class="form-control"
                                       placeholder="Colonia" ng-model="patient.colony">
                            </div>
                        </div>
                        <div class="form-group col-lg-12" style="padding-right: 0px">
                            <label for="street" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">Calle</label>

                            <div class="col-lg-3">
                                <input type="text" name="street" id="street" class="form-control"
                                       placeholder="Calle" ng-model="patient.street">
                            </div>
                            <label for="number" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">N&uacute;mero</label>

                            <div class="col-lg-3">
                                <input type="text" name="number" id="number" class="form-control"
                                       placeholder="N&uacute;mero" ng-model="patient.number">
                            </div>
                        </div>
                        <div class="form-group col-lg-12" style="padding-right: 0px">
                            <label for="lugar_origen" class="col-lg-3 control-label"style="font-family: RobotoSlab-Regular;padding-right: 22px; padding-top: 10px">Lugar de Origen</label>

                            <div class="col-lg-3">
                                <input type="text" name="lugar_origen" id="lugar_origen"
                                       class="form-control"
                                       placeholder="Lugar de Origen" ng-model="patient.lugar_origen">
                            </div>
                            <label for="postal_code" class="col-lg-3 control-label"
                                   style="font-family: RobotoSlab-Regular;padding-right: 22px">C&oacute;digo
                                Postal</label>

                            <div class="col-lg-3">
                                <input type="text" name="postal_code" id="postal_code" class="form-control"
                                       placeholder="C&oacute;digo Postal" ng-model="patient.postal_code">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group" style="margin-top: 40px;margin-bottom: 50px">
                    <div class="col-lg-offset-3 col-lg-6">
                        <button style="background: #36cf82;color: white" type="submit" ng-click="updatePatient(patient.patient_id)" class="btn btn-default">Actulizar Paciente</button>
                        <button style="background: #36cf82;color: white; margin-left: 30px" type="submit" ng-click="cancelEdit()" class="btn btn-default">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>